<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Window</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      /* #members{
        list-style:none;
      } */
      #textArea{
        border-radius: 20px;
      }
      #input{
        margin-top: 7vh;
      }
      #box{
        height:70vh;
      }
    </style>
  </head>
  <body>
    <h1 id="Groupchatheading" class="text-center"></h1>
    <div class="container-fluid">
      <div class="row">
       
        <!-- members -->
        <div class="col-md-3 bg-primary">
          <hr>
          <h2 class="text-center"> Admin(s):</h2>
          <ol id="admins"></ol>
          <hr>
          <h2 class="text-center">Other Members:</h2>
          
          <ol id="members"></ol>
        </div>

    <!-- messagebox -->
        <div class="col-md-6 ms-3 border border-success ">
        <h2 id="chatbox" class="text-center">Message Box:</h2>
        <hr>
        <!-- messsgege showing -->
        <div id="box" class="ms-3 col-md-10 bg-light">
          <ul id="othermsg" class="list-inline ">
            <!-- <li >other msg</li> -->
          
          </ul>
          <ul id="usermsg" class="text-center list-inline ">
            <!-- <li>user message</li> -->
          </ul>
        </div>

        </div>
      </div>
    </div>

    <div id="input" class="container-fluid bg-primary">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <textarea id="textArea" class="text-start" name="w3review" rows="2" cols="80" placeholder="type message"></textarea>
        </div>
        <div class="col-md-4">
          <button id="send" class="btn btn-outline-light mt-2">Send</button>
        </div>
      </div>
    </div>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.5/axios.min.js"></script>
    <script src="/js/chatmsg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>